/**
 * Structure of a anonforum post
 * div.anonforumpost(.read.unread)
 *     div.header.row
 *         div.picture.left
 *         div.topic(.starter)
 *             div.subject
 *             div.author
 *     div.row
 *         div.side.left
 *         div.content-mask
 *             div.content
 *                 div.attachments
 *                 div.posting(.shortenedpost|.fullpost)
 *                     // message
 *                 div.attachedimages
 *                     // attachedimages
 *     div.row
 *         div.left
 *         div.options
 *             div.commands
 *             div.post-word-count
 *             div.anonforum-post-rating
 *             div.link
 *             div.footer
 */

.anonforumpost {display: block;position:relative;margin:0 0 1em 0;padding:0;border:1px solid #000;max-width:100%;}
.anonforumpost .row {width:100%;position:relative;}
.anonforumpost .row .left {float:left;width: 43px;overflow:hidden;}
.anonforumpost .row .left .grouppictures a {text-align:center;display:block;margin:6px 2px 0 2px;}
.anonforumpost .row .left .grouppicture {width:20px;height:20px;}
.anonforumpost .row .topic,
.anonforumpost .row .content-mask,
.anonforumpost .row .options {margin-left:43px;}
.anonforumpost .picture img {margin:4px;}
.anonforumpost .options .commands,
.anonforumpost .content .attachments,
.anonforumpost .options .footer,
.anonforumpost .options .link {text-align:right;}
.anonforumpost .options .anonforum-post-rating {float:left;}
.anonforumpost .content .posting {overflow:auto;max-width:100%;}
.anonforumpost .content .attachedimages img {max-width:100%;}
.anonforumpost .post-word-count { font-size: .85em; font-style: italic; }
.anonforumpost .shortenedpost .post-word-count { display: inline; padding: 0 .3em; }

.dir-rtl .anonforumpost .row .topic,
.dir-rtl .anonforumpost .row .content-mask,
.dir-rtl .anonforumpost .row .options {margin-right:43px;margin-left:0;}
.dir-rtl .anonforumpost .row .left {float:right;}
.dir-rtl.path-mod-anonforum .indent {margin-right:30px;margin-left:0;}

.path-mod-anonforum .anonforumolddiscuss,
#page-mod-anonforum-search .c0 {text-align:right;}
.path-mod-anonforum .indent {margin-left: 30px;}
.path-mod-anonforum .anonforumheaderlist {width: 100%;border-width:1px;border-style:solid;border-collapse:separate;margin-top: 10px;}
.path-mod-anonforum .anonforumheaderlist td {border-width:1px 0px 0px 1px;border-style:solid;}
.path-mod-anonforum .anonforumheaderlist th.header.replies .iconsmall { margin: 0 .3em;}
.path-mod-anonforum .anonforumheaderlist .picture {width: 35px;}
.path-mod-anonforum .anonforumheaderlist .discussion .starter {vertical-align: middle;}
.path-mod-anonforum .anonforumheaderlist .discussion .lastpost {white-space: nowrap;text-align: right;}
.path-mod-anonforum .anonforumheaderlist .replies,
.path-mod-anonforum .anonforumheaderlist .discussion .author {white-space: nowrap;}

/** Styles for subscribers.php */
#page-mod-anonforum-subscribers .subscriberdiv,
#page-mod-anonforum-subscribers .subscribertable {width:100%;vertical-align:top;}
#page-mod-anonforum-subscribers .subscribertable tr td {vertical-align:top;}
#page-mod-anonforum-subscribers .subscribertable tr td.actions {width:16%;padding-top:3em;}
#page-mod-anonforum-subscribers .subscribertable tr td.actions .actionbutton {margin:0.3em 0;padding:0.5em 0;width:100%;}
#page-mod-anonforum-subscribers .subscribertable tr td.existing,
#page-mod-anonforum-subscribers .subscribertable tr td.potential {width:42%;}
#page-mod-anonforum-subscribers .subscriberdiv,
#page-mod-anonforum-subscribers .subscribertable {background-color:#EEEEEE;border:1px solid #BBBBBB;}
#page-mod-anonforum-subscribers .subscriberdiv,
#page-mod-anonforum-subscribers .subscribertable tr td {padding:0.2em 0.3em;}

/** Styles for discuss.php **/
#page-mod-anonforum-discuss .discussioncontrols {width:100%;margin:5px;}
#page-mod-anonforum-discuss .discussioncontrols .discussioncontrol {width:33%;float:left;}
#page-mod-anonforum-discuss .discussioncontrol.exporttoportfolio {text-align:left;}
#page-mod-anonforum-discuss .discussioncontrol.displaymode {text-align:center;}
#page-mod-anonforum-discuss .discussioncontrol.movediscussion {float:right;width:auto;text-align:right;padding-right:10px;}
#page-mod-anonforum-discuss .discussioncontrol.movediscussion .movediscussionoption {}

/** Styles for view.php **/
#page-mod-anonforum-view .anonforumaddnew {margin-bottom: 20px;}
#page-mod-anonforum-view .groupmenu {float: left;text-align:left;white-space: nowrap;}
#page-mod-anonforum-index .subscription,
#page-mod-anonforum-view .subscription {float: right;text-align:right;white-space: nowrap;margin: 5px 0;}

/** Styles for search.php */
#page-mod-anonforum-search .introcontent {padding: 15px;font-weight:bold;}

#page-mod-anonforum-index .unread a:first-child,
#page-mod-anonforum-view .unread a:first-child {padding-right: 10px;}
#page-mod-anonforum-index .unread img,
#page-mod-anonforum-view .unread img {margin-left: 5px;}
#page-mod-anonforum-view .unread img {margin-left: 5px;}
.dir-rtl#page-mod-anonforum-view .unread img {margin-right: 5px; margin-left: 0; }

/** Unknown Styles ??? */
#email .unsubscribelink {margin-top:20px;}

/* Forumpost unread
-------------------------*/
#page-mod-anonforum-view .unread,
.anonforumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #FFD;
}
.anonforumpost.unread .row.header {
    border-bottom: 1px solid #DDD;
}

/** anonforum styles from standard theme **/
.anonforumpost {border-color:#DDDDDD;}
.anonforumpost .row {background-color:#FFF;}
.anonforumpost .row.header {background-color:#EEE;background-image:none;}
.anonforumpost.firstpost .row.header {background-color:#DDD;}
.anonforumpost .topic .author {font-size: 0.8em;padding:4px;}
.anonforumpost .topic .subject {font-weight: bold;padding:4px 4px 0;}
.anonforumpost .content div,
.anonforumpost .options div {padding:4px;}
.anonforumpost.unread {background: #9EBEFF;}
.anonforumpost.unread .content {border:2px solid #0046C7;} /** inside border of unread posts in nested format in */
.anonforumpost .comment-ctrl,
.anonforumpost .comment-ctrl div { padding: 0; }
.anonforumpost .comment-ctrl .picture img { margin: 0; }

#page-mod-anonforum-view .anonforummode,
.page-mod-anonforum .anonforumheaderlist .replies {text-align: center;}
.page-mod-anonforum .anonforumheaderlist .discussion .lastpost {font-size: 0.7em;}
.page-mod-anonforum .anonforumnodiscuss {font-weight:bold;text-align:center;}
#page-mod-anonforum-discuss .ratingsubmit {text-align:center;padding:10px;}
#page-mod-anonforum-view .anonforumheaderlist .discussion .starter, /** Discussion column background in */
#page-mod-anonforum-view .anonforumaddnew {margin-bottom: 20px;text-align:center;}
#page-mod-anonforum-view .anonforumheaderlist td {border-color: #FFFFFF;} /** wire frame around cells in */
#page-mod-anonforum-view .unread {padding: 0 3px;} /** unread column background on */
#page-mod-anonforum-view .anonforumheaderlist  {border-color:#DDDDDD;} /** border around posts in */
#email .unsubscribelink {border-width: 0px 1px 0px 0px;border-style: solid;text-align:center;}
#page-mod-anonforum-view .highlight2 {color:#AA0000;}
#page-mod-anonforum-view.dir-rtl .anonforumheaderlist .discussion .starter {text-align:right;}